
main form {
    margin: 10px;

}

.productos {
    display: flex;
    justify-content: space-between;
    background-color: black;
    
}

.software {
    display: flex;
    align-items: center;
    background-color: black;
}

.inicio-sesion {
    height: 60vh;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: grey;
   

}

.navbar.navbar-expand-lg.bg-light {
    height: 10vh;
    font-size: 1.5rem;
   
}

a.navbar-brand {
    font-size: 2rem;
}



div.card {
    width: 10vw;
    margin: 50px 10px;

}

.card-body {
    text-align: center;
}

.btn.btn-primary {
    background-color: grey;
    border: grey;
    
}

.soporte h3 {
    grid-area: titulo soporte;  
    text-align: center;
    font-size: 1.8rem;
}
.soporte ul {
    grid-area: soporte; 
    padding: 15px;
    list-style-type: none;
}

.soporte ul li {
    padding: 5px;
}



.compania h3 {
    grid-area: titulo compania;  
    text-align: center;
    font-size: 1.8rem;
}

.compania ul {
    grid-area: compania; 
    padding: 15px;
    list-style-type: none;
}

.compania ul li {
    list-style-type: none;
    padding: 5px;
}

.otros h3 {
    grid-area: titulo otros;  
    text-align: center;
    font-size: 1.8rem;
}

.otros ul {
    grid-area: otros; 
    padding: 15px;
    list-style-type: none;
}

.otros ul li {
    list-style-type: none;
    padding: 5px;
}

footer {
background-color: black;
color: #696464;
font-family:'Roboto', sans-serif;
padding-top: 10px;
text-align: center;
}