header {
    background-color: $color-principal;
    
}

.navbar-nav {
    .nav-item {
        a.nav-link.active:hover {
            color: $color-terciario;
            transform: scale(1.2);

        }
        a.nav-link:hover {
            color: $color-terciario;
            transform: scale(1.2);
        }
    }
    
}