label.form-label {
    color: $color-cuaternario;
}

div#emailHelp.form-text {
    color: $color-cuaternario;
  }

span#passwordHelpInline.form-text {
    color: $color-cuaternario;
  }

label.form-check-label {
    color: $color-cuaternario;
  }