
//Mobile

@media (min-width:0px) and (max-width:576px) {


  div.container-fluid {
    justify-content: center;
    align-items: center;
    padding-top: 10px;

  }
    
    .row{
      flex-direction: column;
      width: 100%;
  }

  .software {
    display: none;
  }

  h1.text-center {
    padding: 10px;
    text-align: center;
  }

  footer {
   height: 80vh;
  }

}

  @media (min-width:577px) and (max-width:768px) {
  
    .row{
      display: flex;
      flex-direction: row;     
    }
  
    .row article {   
      width: 44vw;
    }

    h1.text-center {
      padding: 10px;
    }

    footer {
      height: 80vh;
     }
  }
  
  @media (min-width:769px) and (max-width:1400px) {
  
  .row {
    justify-content:center;
    align-items: center;
    padding: 0px;
    
    
  }
  
  .row article {   
    width: 25vw;
  }

  footer {
    height: 80vh;
   }

  }

