$color-principal: black;
$color-secundario:#191919;
$color-terciario:#6E85B2;
$color-cuaternario:white;
$card-color:#1d201f;

$redes: (
    twitter: #55acee,
    facebook: #3a5795,
    instagram: #C25E30,
)
 










